{% extends 'layout.html' %}

{% block content %}
    <section class="about" id="about">
        <h1 class="heading"> about us</h1>
        <div class="media row">
            <div class="media-body content">
                <h3> We blog as a way of life. </h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet animi deleniti unde ipsa voluptatum voluptas libero minima fuga temporibus amet eius dolorem provident corrupti accusamus quibusdam, tenetur culpa ratione iusto commodi officia! Ullam quas vitae error nostrum fuga nisi ipsa, sunt non culpa. Ex maiores modi voluptates adipisci ipsam nobis. </p>
                <a href="#"><button class="btn"> read more >> </button></a>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='images/9c3f70353a597e8f.jpg') }}" alt="">
            </div>
        </div>
    </section>
   
{% endblock content%}